In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("train.csv")
df

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Cargo Type Code,Cargo Aircraft Type,Cargo Metric TONS
0,201601,Sun Country Airlines,SY,Sun Country Airlines,SY,Domestic,US,Enplaned,Cargo,Passenger,8.871509
1,200811,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Cargo,Passenger,53.946194
2,200709,Qantas Airways,QF,Qantas Airways,QF,International,Australia / Oceania,Deplaned,Express,Passenger,0.043999
3,201608,Philippine Airlines,PR,Philippine Airlines,PR,International,Asia,Deplaned,Mail,Passenger,19.023530
4,201708,Singapore Airlines,SQ,Singapore Airlines,SQ,International,Asia,Deplaned,Express,Passenger,6.951420
...,...,...,...,...,...,...,...,...,...,...,...
27225,201108,United Airlines - Pre 07/01/2013,UA,United Airlines - Pre 07/01/2013,UA,International,Canada,Enplaned,Express,Passenger,5.687690
27226,200703,Asiana Airlines,OZ,Asiana Airlines,OZ,International,Asia,Deplaned,Mail,Freighter,3.473669
27227,201204,US Airways,US,US Airways,US,Domestic,US,Deplaned,Cargo,Passenger,18.564941
27228,201005,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Cargo,Passenger,9.814090
27229,202002,Korean Air Lines,KE,Korean Air Lines,KE,International,Asia,Deplaned,Cargo,Passenger,525.214368

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27230 entries, 0 to 27229
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              27230 non-null  int64
 1   Operating Airline            27230 non-null  object
 2   Operating Airline IATA Code  27199 non-null  object
 3   Published Airline            27230 non-null  object
 4   Published Airline IATA Code  27199 non-null  object
 5   GEO Summary                  27230 non-null  object
 6   GEO Region                   27230 non-null  object
 7   Activity Type Code           27230 non-null  object
 8   Cargo Type Code              27230 non-null  object
 9   Cargo Aircraft Type          27230 non-null  object
 10  Cargo Metric TONS            27230 non-null  float64
dtypes: float64(1), int64(1), object(9)
memory usage: 2.3+ MB

In [5]:
df.describe()

       Activity Period  Cargo Metric TONS
count     27230.000000       27230.000000
mean     201277.964378         216.669953
std         451.796120         432.731356
min      200507.000000           0.000454
25%      200904.000000           8.446826
50%      201303.000000          60.774235
75%      201703.000000         247.236041
max      202012.000000       10801.278330

In [10]:
print(df["GEO Summary"].unique())
print(df["Activity Type Code"].unique())
print(df["Cargo Type Code"].unique())
print(df["Cargo Aircraft Type"].unique())

['Domestic' 'International']
['Enplaned' 'Deplaned']
['Cargo' 'Express' 'Mail']
['Passenger' 'Freighter' 'Combi']

In [11]:
domestic = df[df["GEO Summary"] == "Domestic"]
international = df[df["GEO Summary"] == "International"]

enplaned = df[df["Activity Type Code"] == "Enplaned"]
deplaned = df[df["Activity Type Code"] == "Deplaned"]

cargo = df[df["Cargo Type Code"] == "Cargo"]
express = df[df["Cargo Type Code"] == "Express"]
mail = df[df["Cargo Type Code"] == "Mail"]

passenger = df[df["Cargo Aircraft Type"] == "Passenger"]
freighter = df[df["Cargo Aircraft Type"] == "Freighter"]
combi = df[df["Cargo Aircraft Type"] == "Combi"]